<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>@ViewBag.Title</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="col-md-4">
				<div class="left-panel">
				13123
				</div>
			</div>
			<div class="col-md-8">
				<div class="right-panel">
					@RenderBody()
				</div>
			</div>
		</div>
	</body>
</html>
